
.nav{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:right;
    padding-right: 5%;
  }

  .nav ul{
     display: flex;
  }

  .nav ul li{
    display: flex;
    padding: 10px 20px;
    position: relative;
 }

 .nav ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
 }
 .nav ul li a:hover{
    color: #888888;
 }

.dropdown{
    display: none;
}

.nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
 }

 .dropdown ul {
    display: block;
    width: 150px;
 }
  